.App {
  text-align: center;
}

.AddFormTabel{
  width: 100%;
  background-color: red ;
}
/*  
    alle input feelds in AddFormTabel 
    include button select and input. 

*/
.AddFormTabel> * > * > * >*{
  width: 98%;
  margin: 1%;
}
.ListTabel{
  width: 96%;
  margin: 2%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.hidden{
  display: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
